<!<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
    <th:object th:replace="base :: bt"></th:object>
    </head>
    <body>
        <div th:replace="base :: menu"></div>
        <main class="container">
            <form th:action="@{/}">
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" placeholder="Tìm theo tên..." name="kw">
                </div>

                <div class="row mb-3 mt-3">
                    <div class="col-6">
                        <input type="number" class="form-control" placeholder="Từ giá:" name="fromPrice">
                    </div>
                    <div class="col-6">
                        <input type="number" class="form-control" placeholder="Đến giá" name="toPrice">
                    </div>
                    
                </div>
                <button type="submit" class="btn btn-primary">Tìm sản phẩm</button>
            </form>
            <div class="mt-2 mb-2">
                <a class="btn btn-info" th:href="@{/product}">Thêm sản phẩm</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá bán</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p: ${product}">
                        <td>
                            <img th:src="${p.image}" width="200" class="rounded" />
                        </td>
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.name}"></td>                        
                        <td th:text="${p.price} + ' VND'">john@example.com</td>
                        <td>
                            <a th:href="@{product} + '/' + ${p.id}" class="btn btn-success">Cập nhật</a>
                            <button th:onclick="'deleteProduct(\'' + @{/api/products/} + ${p.id} + '\')'" class="btn btn-danger">Xóa</button>
                        </td>

                    </tr>

                </tbody>
            </table>

        </main>

        <div th:replace="base :: footer"></div>
        <script th:src="@{/js/main.js}">
            
        </script>
    </body>
</html>
